
{% load static %}

<footer class="bg-body-dark text-center text-lg-start" style="padding-top: 5%;">
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.15);">
        Aplicación Web creada por <strong>Felipe Arellano Álvarez</strong> <br>
        2024 <br>Para más información:<br>
        <a class="text-body" href="https://github.com/FelipeArellanoA">
        
            <img src="{% static '/images/github.png' %}" alt="GitHub" width="35" height="35" style="vertical-align: middle;">

        </a>
    </div>
   
  </footer>